 /* ==========================================Extra-Task==================================== */
 body {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    padding: 0;
}

.menu {
    display: none;
    border: 1px solid rgba(178, 178, 175, 0.688);;
    border-radius: 10px;
    /* background-color: rgba(178, 178, 175, 0.258);; */
    padding: 0px 20px;
    width: 250px;
    height: 100%;
    cursor: pointer;
}

.menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu li {
    padding: 10px 0;
    border-bottom: 1px solid #555;
}

.menu li:last-child {
    border-bottom: none;
}

.menu li:hover {
    background-color: #555;
}

.menu-toggle {
    display: flex;
    border-radius: 10px;
    width: 290px;
    height: 100%;
    border: 1px solid rgba(178, 178, 175, 0.688);;
    background-color: rgba(178, 178, 175, 0.258);

}

.drop, .hide {
    width: 40px;
    border-radius: 8px;
    border: none;
    color: black;
    background-color: rgba(178, 178, 175, 0.688);;
}